<div class="ui list">
    {% for slot in data %}
        {% set class = slot.isPresentationSlot ? 'presentation' : '' %}
        <div class="item {{ class }}" data-qa="slot-{{ slot.name }}">{{ slot.name }}</div>
    {% endfor %}
</div>
